{{extend 'newlayout.html'}}
<style>
#suggestions { position: relative; }
.suggestions { background: white; border: solid 1px #55A6C8; }
.suggestions DIV { padding: 2px 4px 2px 4px; }
</style>
<form action="searchbyname">
Enter Name: <input type="text" name="name" id="name" style="width: 250px" autocomplete="off"/>
    <div style="position: absolute; left:315px" id="suggestions"
      class="suggestions"></div>
     <input type="submit" name="submit" value="Submit">
</form>
<script>
jQuery("#name").keyup(function(){
        ajax('month_selector', ['name'], 'suggestions')
        });
</script>
