{{extend 'newlayout.html'}}
<script type="text/javascript">
function submitform()
{
  document.myform.submit();
}
</script>
<form id="myform" name="myform" action="viewprivate">
<select name="place" onchange="submitform()" id="place"> 
<option value="">Filter By</option>
<option value="Carpenter">Carpenter</option>
<option value="Plumber">Plumber</option>
<option value="Electician">Electrician</option>
<option value="other">Other</option>
<option value="1">All</option>
</select>
</form>
<br>
<br>

<p id="demo"></p>
<script type="text/javascript">
function myFunction()
{
var x;
var r=confirm("Are u sure you want to remove this complaint");
if (r==true)
  {
    window.location._href=URL("deafult.py/metcomplaint")
    x="OK";
<!--  <a href=URL("delcomplaint",args=row.id)>Text to Click</a>-->

  }
else
  {
  x="C";
  }
document.getElementById("demo").innerHTML=row.id;
}
</script>
<table border="1" width="1000" align="center">
<tr>
  <th>Sr.No</th>
  <th>Access</th>
  <th>Category </th>
  <th>Body </th>
  <th>Date </th>
  <th>Time</th>
 <!-- <th style="text-align: center;">Delete</Th>-->
  <th style="text-align: center;">Complaint Met</Th>
</tr>
{{c=0}}
  {{for row in complaints:}}
  {{c=c+1}}
  <tr>
  <td>{{=c}} </td>
  <td>{{=row.access}} </td>
  <td>{{=row.category}} </td>
  <td>{{=row.complaint_body}} </td>
  <td>{{=row.Date}} </td>
  <td>{{=row.Time}} </td>
  <!--<td style="text-align: center;"> {{=A("X", _href=URL("delcomplaint",args=row.id),_style="color:red;",_class="button",onclick="myFunction()")}}</font></td>-->
  <td style="text-align: center;"> {{=A("YES", _href=URL("metcomplaint",args=row.id),_style="color:green;",_class="button",onclick="myFunction()")}}</font>
</td>
  
  <!--<td style="text-align: center;"> {{=A("YES",_style="color:green;",_class="button",onclick="myFunction(row.id)")}}</font>
  <td><button onclick="myFunction()", id="demo">Done</button></td>
  <p id="demo"></p>-->
  </tr>
  {{pass}}
</table>
{{pass}}
</ul>
